<%= form_for(@user, :html => { :multipart => true }) do |f| %>
   <%= f.fields_for :textfiles do |p| %>
     <div class="field">
       <%= p.label :textfile %><br>
       <%= p.file_field :textfile, :multiple => true, name: "textfiles[textfile][]" %>
     </div>
   <% end %>

   <div class="actions">
     <%= f.submit %>
   </div>
<% end %>
